
<section class="page-section bg-primary text-white mb-0" id="skills">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-white">{{ 'skills.title'|trans }}</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead text-center">
                    {{ 'skills.left'|trans|nl2br }}
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead text-center">
                    {{ 'skills.right'|trans|nl2br }}
                </p>
            </div>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                <i class="fas fa-arrow-down mr-2"></i>
                {{ 'skills.hire_me'|trans }}
            </a>
        </div>

    </div>
</section>
