
{% block body %}
    <section class="page-section" id="coaching">
        <div class="container">

            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                {{ 'services.coaching.title'|trans }}
            </h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="mb-2 text-justify no-p-margin">
                {{ 'services.coaching.description'|trans|markdown_to_html }}
            </div>

            <a href="{{ url??path('contact', {subject: 'contact.subject.coaching'}) }}"
               class="btn btn-primary btn-xl btn-outline-light">
                {{ (link_text??'service_item_button')|trans }}
            </a>

        </div>
    </section>
{% endblock %}
