{% form_theme form 'form/contact.html.twig' %}

<section class="page-section" id="contact">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
            {{ 'contact.me.title'|trans }}
        </h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                {{ form(form, {action: path('contact')}) }}
            </div>
            <script>window.CONTACT_FORM_ID='{{ form.vars.id }}'</script>
        </div>

    </div>
</section>
