{% set flashes = app.flashes %}

{% if flashes|length %}
    <div id="flashes">
        <div class="container">
            {% for type, messages in flashes %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message|trans }}
                        {{ not loop.last ? '<br>' }}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'close'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
