<section class="page-section portfolio" id="services">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ 'services.title'|trans }}</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">

            {{ include('_service_item.html.twig', {
                slug: 'service_development',
                title: 'services.development.title',
                subject: 'contact.subject.web_development',
                description: 'services.development.description'
            }, with_context=false) }}

            {{ include('_service_item.html.twig', {
                slug: 'service_training',
                title: 'services.training.title',
                description: 'services.training.description',
                url: path('trainings'),
                link_text: 'services.training.link'
            }, with_context=false) }}

        </div>

    </div>
</section>
