@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: '/webfonts/';

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

@layer utilities {
    .text-default {
        font-family: "Lato", sans-serif;
        @apply tracking-normal;
    }
    .text-heading {
        font-family: "Montserrat", sans-serif;
        @apply tracking-normal;
    }
    .btn {
        @apply inline-block rounded-lg text-xl px-6 py-4 my-4 focus:ring-2;
        @apply bg-emerald-500 text-gray-100 hover:bg-emerald-600 text-gray-200 focus:ring-emerald-300;
    }
    .btn.sm {
        @apply px-3 py-1.5 my-0.5 mx-0.5 text-xs;
    }
    .btn.blue {
        @apply bg-sky-500 hover:bg-sky-600 focus:ring-sky-300;
    }
    .btn.red {
        @apply bg-red-500 hover:bg-red-600 focus:ring-red-300;
    }
    .alert {
        @apply relative px-4 py-3 mb-6 bg-transparent border-transparent rounded-lg;
        border: .125rem solid;
    }
    .alert-info {
        @apply text-sky-700 bg-sky-100 border-sky-200;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    @apply m-0 p-0 text-[100%] bg-gray-100 box-border min-h-[100vh] text-default;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-heading;
}

h1 { @apply text-5xl py-4; }
h2 { @apply text-4xl py-6; }
h3 { @apply text-3xl; }
h4 { @apply text-2xl; }
h5 { @apply text-xl; }
h6 { @apply text-lg; }

img, button {
    @apply inline-block;
}
blockquote {
    @apply text-lg pl-2 py-1 text-gray-800;
}

ul {
    @apply my-2 list-disc;
}
li {
    @apply ml-8;
}
strong {
    @apply text-gray-800;
}

.container {
    @apply relative z-0 mx-auto;
}
