@import "frontend_theme";

.hide {
    display: none !important;
}

#homepage .masthead {
    padding-top: calc(2rem + 74px);
}

@include media-breakpoint-up(lg) {
    #homepage {
        .masthead {
            padding-top: calc(2rem + 104px);
        }
        .page-section {
            padding-top: calc(5rem - 6px);
        }
    }
}

img.masthead-avatar {
    border-radius: 50%;
}

body#homepage #flashes {
    position: absolute;
    width: 100%;
    top: 115px;
}

body:not(#homepage) #flashes {
    position: relative;
}

.service-item {
    align-self: center;
    .service-title {
        text-align: center;
        padding: 50px 0;
    }
}

.number-container {
    background: #0b5477;
    border-radius: 18px;
    color: #eee;
    display: inline-block;
    font-size: 0.975em;
    height: 25px;
    margin-left: 5px;
    text-align: center;
    width: 35px;
}
#final-price {
    font-size: 2em;
    font-weight: bold;
}

.training-item {
    cursor: pointer;
    .card-footer {
        background-color: lighten($success, 45%);
    }
    &:not(.selected) .card-footer {
        display: none;
    }
    &:hover {
        border-color: #ccc;
        .card-header {
            border-color: #ccc;
        }
        .card-body {
            background-color: #fdfdfd;
        }
        user-select: none;
    }
    &:active {
        border-color: #aaa;
        .card-header {
            border-color: #aaa;
        }
        .card-body {
            background-color: #eee;
        }
        user-select: none;
    }
    &.selected {
        border-color: lighten($primary, 10%);
        .card-header {
            border-color: #999;
        }
        .card-body {
            background-color: lighten($primary, 73%);
        }
    }
}

.trainings-list {
    list-style-position: inside;
}
